.footer{
    position: relative;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bbGrey);
    color:white;
    padding-top: 10px;
    /* display: none; */
  
}

.footer p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Crimson Pro', serif;;

}