.Navbar{
    position: fixed;
    z-index: 995;
    width: 100%;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    max-height: 50px;
    transition: 0.4s;
   

}

.Navbar_grey{
    background-color: var(--bbGrey) !important; 
    max-height: 180px;

  
}

@media (max-width: 767px) { 


    .Navbar_grey{
        background-color: var(--bbGrey) !important; 
        max-height: 250px;

      
    }

}

.navbar_warp{
    display: flex;
    align-items: center;
    width: 100%;
   
}


.navbar_logo{
    cursor: pointer;
    width: 160px;
    height: 50px;
}

.navbar_logo img{
    transform: translateY(3px);

}
.navbarItem_warp{
  
    margin: 0 auto;

}


.navbarItem_warp ul{
    padding: 0;
    margin: 0;
    display: flex;
}

.navbarItem_warp li{
    
  
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 1.5px;
    color: white;
    margin: 0 50px;

        

}

.navbar_RWD{
    display: none;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

}


@media (max-width: 1025px) { }
@media (max-width: 767px) { 


    .navbar_warp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    

    .navbar_RWD{
        display: flex;
       
    }
    

    .navbarItem_warp{
        display: none;
    }

}


.navbar_page{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    background-color: red;
    
}


.navbar_page h5{
    cursor: pointer;
    display: flex;
    position: relative;
    color: white;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.30000001192092896px;

}

.navbar_page h5 .arrowRight{
    margin:-1px 10px 0 10px;
}


.navbar_page h5:last-child .arrowRight{
    display: none;
}


.Route_SearchWarp{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;



}

.Route_SearchWarp label{
    width: 40%;
    margin: 0 10px;

}

.Route_SearchWarp label h5{
    color: var(--light_blue);
    margin-bottom: 10px;
}

.Route_SearchWarp input{
    width: 100%;

    font-size: 1.4rem;

}


@media (max-width: 767px) { 

    .navbar_page{
      
        margin-top:10px;
      
        
    }


    .Route_SearchWarp{
        margin: 10px 0px 5px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

    .Route_SearchWarp label{
        width: 95%;

    
    }

    .Route_SearchWarp input{
        width: 100%;
    
        font-size: 1.4rem;
        margin-bottom: 10px;
    
    }
    

}

