 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Noto Sans TC', sans-serif
}
body{
    font-family:  'Noto Sans TC', sans-serif,'Noto Serif TC', serif,'Crimson Pro', serif;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2; 
 
}

:root {
    font-size: 10px;

    --bbGrey :#5A637E;
    --light_grey:#BCC1D1;
    --light_blue: #5CBCDB;


    
 

}

 body a{
    color:inherit;
 }

 body a:hover {
    color:inherit;
    text-decoration: none;
}
 

p {
    font-size: 1.8rem;
    margin: 0px;
    padding: 0;
}



ul {
    color:inherit;
    text-decoration:none;
    margin-bottom: 0;
}

li{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}



 /*
svg{

    width: 100%;

}
 */

/* img{
    width: 100%;
} */


button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}



input{

    height: 50px;
    background-color: #EBEBEB;
    border-radius: 10px;
    border: transparent;
    padding:0 10px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

}

input::-webkit-calendar-picker-indicator {
    transform: translateY(-5px);
}
input:focus {
    outline: none;
}

label{
    margin: 0;
}
select{

    height: 50px;
    border-radius: 10px;
    border: transparent;
    padding-left: 10px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;


}
/* ////////////動畫//////////////////// */


@media (max-width: 1025px) { }
@media (max-width: 767px) { }




/* /////////////////// */
.Content{
    height: calc(100vh - 50px);
    overflow: hidden;
}


.LandingPage{
   
    overflow: hidden;
    position: relative;
    height: calc(100vh - 50px);
    width: 100%;
   
    background-image: url('../images/picBgPC.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /* display: none; */
}






.LandingPage_bg{
    overflow: hidden;
    position: absolute;
    z-index: 90;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.circle_bg{
    transition: 1s;
    min-width: 2500px;
    width: 2500px;
    height:2500px;
    border-radius: 100%;
    margin-bottom: 120px;
    box-shadow: 0 0 0 3000px rgba(255, 255, 255, 0.829);
    transform: scale(0.4);
    /* transform: scale(1); */
}



@media (max-width: 767px) { 


    .LandingPage{
        overflow: hidden;
        position: relative;
        
        width: 100%;

       
        background-image: url('../images/picBgmobile.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    .circle_bg{
        min-width: 753px;
        width: 753px;
        height:753px;
        border-radius: 100%;
        margin-bottom: 60px;
        box-shadow: 0 0 0 1200px rgba(255, 255, 255, 0.829);
        transform: scale(0.3);
    }


}

.LandingPage_content{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 91;
    min-height: calc(100vh - 50px);
    padding: 160px 0 40px 0;

}

.LandingPage_titleWarp{
    
    /* background-color: cyan; */
    text-align: center;

}

.LandingPage_titleLogo img{
    width: 60%

}
.LandingPage_titleWarp h2{

    color: white;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 380;
    line-height: 38px;
    letter-spacing: 4.5px;
    text-align: center;


}

.LandingPage_btnWarp{
    display: flex;
    justify-content: center;

}


.LandingPage_btn{
    transition: 0.8s;
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;

   
}   

.LandingPage_btnPic{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--light_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    --animate-duration: 1s


}

.LandingPage_btn h4{

    margin-top: 10px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: var(--bbGrey);


}


.LandingPage_btn svg{
    height: 60%;
}

#FavStation_btn svg{
    width: 100%;

    transform: translate(1px,0px);
}

@media (max-width: 767px) {


    .LandingPage_content{

        padding: 160px 0 20px 0;
    
    }

    .LandingPage_titleLogo img{
        width: 80%
    
    }

    .LandingPage_titleWarp h2{

        color: white;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 380;
        line-height: 38px;
        letter-spacing: 4.5px;
        text-align: center;
    
    
    }


    .LandingPage_btnWarp{
        display: flex;
        justify-content: center;
       
    }

    .LandingPage_btn{
        cursor: pointer;
        margin: 0 12px;
    }   
    

    .LandingPage_btnPic{

        width: 65px;
        height: 65px;
        border-radius: 100%;
        background-color: var(--light_blue);
       

    }

    .LandingPage_btn h4{

        margin-top: 5px;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.30000001192092896px;
        text-align: center;
        color: var(--bbGrey);
    
    
    }



}


#BusStatusPage{
    display: none;
} 